form.subscribe {
  margin-top: 40px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 0;
  text-align: left;
  border: 1px solid #333;
  min-width: 500px;
}
form.subscribe input[type="email"] {
  padding: 4px 8px;
}
form.subscribe input[type="submit"] {
  position: absolute;
  top: -1px;
  right: -2px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #56af7b;
  color: #fff;
  transition: 0.3s;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
form.subscribe input[type="submit"]:hover {
  background: #3ea468;
}
#mc_embed_signup form input[type="email"] {
  width: calc(100% - 110px);
}
