.StripeElement {
  /* copied style from Chakra UI */
  border: 1px solid rgb(226, 232, 240);
  border-radius: 0.125rem;
  height: 2rem;
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
}

.StripeElement > div {
  flex: 1;
}

.StripeElement--invalid {
  border: 1px solid #9e2146;
}
